[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "tmux/tmux.symlink/plugins/tmux-resurrect"]
	path = tmux/tmux.symlink/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
