* {
    background-color : #262626;
    text-color       : White;
    font             : "DejaVu Sans Mono For Powerline 10";
}

#window {
    anchor:     south;
    location:   south;
    width:      100%;
    padding:    0px;
    children:   [ horibox ];
}

#horibox {
    orientation: vertical;
    children:   [ entry, listview ];
}

#listview {
    layout:     vertical;
    spacing:    0px;
    dynamic:    false;
    fixed-height: false;
    lines:      5;
}

#entry {
    expand:     false;
    width:      20em;
    padding: 1px 4px;
}

#element {
    padding: 1px 5px;
}

#element selected {
    background-color: #0F5470;
}
